<h1>Classroom Info</h1>
<%= render partial: 'classroom', locals: { classroom: @classroom } %>
<h2>Students</h2>
<ol>
  <% @classroom.students.each do |student| %>
    <li>
      <%= render partial: 'students/student', locals: { student: student } %><br>
    </li>
  <% end %>
</ol>
